.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    margin-top: 10px;
    .logo-container{
        margin-top: 10px;
    }
    .logo{
        width: 40%;
        padding-left: 10%; 
    }
    .menu-title{
        margin-left: 60px;
    }
    .menu{
        text-align: center;
        .menu-link{
            padding: 1%;
            text-decoration: none;
            color: white;
            font-style: italic;
        }
        width: 40%;
    }
}