.image-header{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 17.5% 0% 17.5% 0%;
        background-image: url('/images/header.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        .titles{
            padding: 20px;
            margin: auto;
            text-align: left;
            color: white;
            .header-title{
                font-size: 4em;
            }
            .header-subtitle{
                font-size: 2em;
            }
        }
        .header-button{
            all: unset;
            margin: auto;
            text-align: left;
            .button{
                padding: 15px;
                background-color: rgb(255, 204, 0);
                border: none;
                font-size: 1em;
                font-style: italic;
            }
        }
    }
